<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
 #copay-slide .ui-slider-range { background:#3d4753; }
#copay-slide .ui-slider-handle { border-color:#3d4753; }
#total-ded-slide .ui-slider-range { background:#3d4753; }
#total-ded-slide .ui-slider-handle { border-color:#3d4753; }
#ded-paid-slide .ui-slider-range { background:#3d4753; }
#ded-paid-slide .ui-slider-handle { border-color:#3d4753; }
#coinsurance-slider .ui-slider-range { background:#3d4753; }
#coinsurance-slider .ui-slider-handle { border-color:#3d4753; }

</style>
<div id="search-bar"><!--DIV SEARCH-BAR STARTS-->
	<%= form_for :category, url: dashboard_index_path, method: :post do |f| %>
		<%= f.text_field :consumer_name, value: get_consumer_name(params[:category]), class: "serch-text" %>
		<%#= f.submit "ADD PROCEDURE", id: "procedure"%>
	<% end %>
	<div id="procedure-btn-div">
	<%= button_tag "ADD PROCEDURE", id: "procedure-btn" %>
	</div>
</div><!--DIV SEARCH-BAR ENDS-->

<div id="wrapper"><!--DIV WRAPPER STARTS-->
	<div class="slider-box"><!--DIV TOTAL-DEDUCTIBLE STARTS-->
		<div class="slider-label">
			<%= label(:post, :title, "Total Deductible") %>
			<br/>
			 <p><input type="text" id="total-ded-range" class='range_value_doller'></p>
				   
			        <p><div id="total-ded-slide"  class="slider_style"></div></p>			      
			
		</div>
	</div><!--DIV TOTAL-DEDUCTIBLE ENDS-->

	<div class="slider-box"><!--DIV DEDUCTIBLE-PTD STARTS-->
		<div class="slider-label">
			<%= label(:post, :title, "Deductible Paid-To-Date") %>
			 <br/> 
			 	<p><input type="text" id="ded-paid-range" class='range_value_doller' ></p>
			 	<p><div id="ded-paid-slide"  class="slider_style"></div></p>
			    
			 
		</div>
	</div><!--DIV DEDUCTIBLE-PTD ENDS-->
	
	<div class="slider-box"><!--DIV COPAY STARTS-->
		<div class="slider-label">
			<%= label(:post, :title, "Copay") %>
			<br/>
				<p><input type="text" id="copay-range" class='range_value_doller'></p>
			     <p><div id="copay-slide"  class="slider_style" ></div></p>
		   				 
		</div>
	</div><!--DIV COPAY ENDS-->
	
	<div class="slider-box"><!--DIV COINSURANCE STARTS-->
		<div class="slider-label">
			<%= label(:post, :title, "Coinsurance") %>
			 <br/>
				<p><input type="text" id="coinsurance_range" class='range_value_doller'></p>
			    <p><div id="coinsurance-slider"  class="slider_style"></div></p>		           
			
		</div>
	</div><!--DIV COINSURANCE ENDS-->
	
</div><!--DIV WRAPPER ENDS-->

<script type="foo/bar" id='proceduresList'>
  <table cellspacing='0' cellpadding='0' border='1' >
    <thead>
      <tr>
        <th>Labs</th>
        <th>Provider</th>
        <th>Facility</th>
        
        <%% if(city > 0) { %>
        	<th>Average Cost</th>
        	<%%
        		_(city).times(function(n){ 
      		%>
      			
        		<th>City <%%=n+1%>, State <%%=n+1%>, ZIP code <i class='glyphicon glyphicon-trash'></i> </th>
        	<%%
        		});
        	} %>
      </tr>
    </thead>
    <tbody>
      <%%
        _.each(items,function(item,key,list){
      %>
        <tr>
          <td><%%= item.name %></td>
          <td>
            <select>
              <option>In-Network</option>
              <option>Out-Of-Network</option>
            </select>
          </td>
          <td>
            <select>
              <option>Office Visit</option>
              <option>Office Visit 2</option>
              <option>Office Visit 3</option>
            </select>
          </td>
          <%% 
          	if(city > 0) { 
          	%>
          	<td>$250</td>
          	<%%
        			_(city).times(function(n){ 
      		%>
	          <td>$250<%%=n%></td>
          <%%
        			}); 
        		} 
        	%>

          <td><i class="glyphicon glyphicon-trash"></i></td>
        </tr>
      <%%
        });
      %>
    </tbody>
  </table>
</script>
<script type='text/javascript'>
 $(function() {
  $( "#total-ded-slide" ).slider({
    range: "min",
    value: 0,
    min: 0,
    max: 5000,
    slide: function( event, ui ) {
      $( "#total-ded-range" ).val( "$" + ui.value );
      }
    });
    $( "#total-ded-range" ).val( "$" + $( "#total-ded-slide" ).slider( "value" ) );
  });

  $( "#total-ded-slide" ).css( "background-color", "#000000");

  $(function() {
    $( "#total-ded-slide" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 5000,
      slide: function( event, ui ) {
        $( "#total-ded-range" ).val( "$" + ui.value );
      }
    });
    $( "#total-ded-range" ).val( "$" + $( "#total-ded-slide" ).slider( "value" ) );
  });

  $(function() {
    $( "#ded-paid-slide" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 700,
      slide: function( event, ui ) {
        $( "#ded-paid-range" ).val( "$" + ui.value );
      }
    });
    $( "#ded-paid-range" ).val( "$" + $( "#ded-paid-slide" ).slider( "value" ) );
  });

  $(function() {
    $( "#copay-slide" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 700,
      slide: function( event, ui ) {
        $( "#copay-range" ).val( "$" + ui.value );
      }
    });
    $( "#copay-range" ).val( "$" + $( "#copay-slide" ).slider( "value" ) );
  });

  $(function() {
    $( "#coinsurance-slider" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 100,
      slide: function( event, ui ) {
        $( "#coinsurance_range" ).val(ui.value +  "%" );
      }
    });
    $( "#coinsurance_range" ).val($( "#coinsurance-slider" ).slider( "value" ) + "%" );
  });
 

  function delete_row(index) {
    document.getElementById("diagnosis").deleteRow(index);
  }

  function showValue(element,status)
  { 
    if(status=='total deductible') {
  	 document.getElementById("total_ded_range_val").innerHTML=element.value;
    }
    else if(status=='deductible paid to date') {
  	 document.getElementById("ded_paid_range_val").innerHTML=element.value;
    }
    else if(status=='copay value') {
  	 document.getElementById("copay_range_val").innerHTML=element.value;
    }
    else if(status=='coinsurance') {
      document.getElementById("coinsurance_range_val").innerHTML=element.value;
    }
  }
</script>
