<!DOCTYPE html>
<html ng-app="myApp">
	<head>
  		<title>NALC HEALTHCARE PLAN</title>
  		<%= stylesheet_link_tag    'application', media: 'all'%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'dashboard' %>
  		<%= csrf_meta_tags %>
	</head>
<body>
  <%= yield %>
</body>
</html>
